<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock%}</title>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    </head>
    <style>
      #main-card {
          margin:0 auto;
          display: flex;
          width: 50em;
          align-items: center;
      }
    </style>
</head>
<body class="mdc-typography">

<div id="main-card">
  {% block content %}
  {% endblock %}
</div>


<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</body>
</html>